body {
  background-color: rgb(0, 0, 0);
}

video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.holder {
  position: relative;
  height: 45px;
  width: 400px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0 auto;
}

.holder h1 {
  margin: 0;
  font-size: 20px;
}

section {
  text-align: center;
  position: absolute;
  inset: 0;
  background-color: #000;
  color: aliceblue;

  mix-blend-mode: multiply;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

a {
  color: aliceblue;
  text-decoration: none;
  transition: margin 0.2s ease-in-out;
}

a:hover,
a:focus {
  text-decoration: none;
  padding: 3px;
  border: solid 3px rgb(255, 255, 255);
  border-radius: 5px;
  margin-bottom: 0.5em;
  outline: none;
  position: relative;
}
